body {
    width: 75%;
    margin: 0 auto;
}

html {
    font-family: sans-serif;
}

#accounts-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2vh .7vw;
}

#back-arrow:hover {
    cursor: pointer;
}

.account-container {
    border: .1rem solid rgba(80, 80, 80, .4);
    border-radius: .5rem;
    height: 16vh;
}

.account-container:hover {
    box-shadow: .3rem .3rem .5rem rgba(50, 50, 50, .4);
}

.account-info {
    display: inline-block;
    height: 60%;
    vertical-align: middle;
}

.account-name {
    font-weight: bold;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.actions > a {
    text-decoration: none;
}

.actions > a > svg {
    border-radius: .5rem;
}

.actions > a > svg:hover {
    box-shadow: .5rem .5rem .5rem rgba(70, 70, 70, .4);
}