body {
    width: 75%;
    margin: 0 auto;
}

html {
    font-family: sans-serif;
}

#accounts-count {
    text-align: center;
}

.company-logo {
    display: inline-block;
    width: 25%;
}

#accounts-container {
    display: grid;
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/Guides/Grid_layout/Basic_concepts */
    /* https://stackoverflow.com/questions/52861086/why-does-minmax0-1fr-work-for-long-elements-while-1fr-doesnt */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2vh .7vw;
}

#back-arrow:hover {
    cursor: pointer;
}

.account-container {
    border: .1rem solid rgba(80, 80, 80, .4);
    border-radius: .5rem;
}

.account-container:hover {
    box-shadow: .3rem .3rem .5rem rgba(50, 50, 50, .4);
}

.account-info {
    display: inline-block;
    height: 60%;
    width: 70%;
    vertical-align: top;
}

.account-name > a {
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

p {
    /* https://stackoverflow.com/questions/486563/overflowhidden-dots-at-the-end */
    margin: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 5vh;
}

.actions > a {
    text-decoration: none;
}

.actions > a > svg {
    border-radius: .5rem;
    height: 100%;
}

.actions > a > svg:hover {
    box-shadow: .5rem .5rem .5rem rgba(70, 70, 70, .4);
}