body {
    width: 75%;
    margin: 0 auto;
}

html {
    font-family: sans-serif;
}

#contacts-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2vh .7vw;
}

.contact-container {
    border: .1rem solid rgba(80, 80, 80, .4);
    border-radius: .5rem;
}

.contact-container:hover {
    box-shadow: .3rem .3rem .5rem rgba(50, 50, 50, .4);
}

.contact-name {
    font-weight: bold;
    text-decoration: none;
}

.contact-info {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin-top: .5vh;
    color: #000;
    text-decoration: none;
}

#contacts-count {
    text-align: center;
    color: rgba(110, 110, 110, .8);
}

.logo-container {
    text-decoration: none;
}