body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* https://www.reddit.com/r/webdev/comments/1diix0e/centering_a_div_nowadays_what_are_the_best/ */

#vat-code-container {
    border: .1rem solid rgba(80, 80, 80, .4);
    border-radius: .5rem;
    box-shadow: .5rem .5rem .5rem rgba(70, 70, 70, .4);
    height: 25%;
    width: 25%;
}