body {
    width: 75%;
    margin: 2vh auto;
}

#info-container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: .8vw;
}

#contacts-container,
#accounts-container {
    border: .1rem solid rgba(80, 80, 80, .4);
    border-radius: .5rem;
    box-shadow: .3rem .3rem .5rem rgba(50, 50, 50, .4);
    height: 15vh;
}

#contacts-container > p,
#accounts-container > p {
    display: block;
    height: 50%;
    text-align: center;
    margin: 0;
}

#contacts-container > p:first-child,
#accounts-container > p:first-child {
    vertical-align: middle;
    align-content: end;
}

#actions-bar {
    border: .1rem solid rgba(80, 80, 80, .4);
    border-radius: .5rem;
    background-color: rgba(180, 180, 180, .4);
    height: 5vh;
    margin-bottom: 3vh;
    display: flex;
    flex-direction: row;
    column-gap: 2vw;
}

#actions-bar > a {
    text-decoration: none;
    border-radius: .3rem;
    color: #000;
    height: 100%;
    align-content: center;
}

#actions-bar > a:hover {
    box-shadow: .5rem .5rem .5rem rgba(50, 50, 50, .4);
}