<!DOCTYPE html>
<html lang="en">
<head>
    <title>CRM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='create_contact.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='create_contact.js') }}"></script>
</head>
<body>
    <!-- https://stackoverflow.com/questions/22696467/form-with-two-columns -->
    <div id="form-container" action="https://google.com">
        <form id="contact-container">
            <ul>
                <li>
                    <label for="first-name">First name</label>
                    <input id="first-name" name="first-name" autocomplete="off" spellcheck="false" type="text">
                </li>
                <li>
                    <label for="last-name">Last name</label>
                    <input id="last-name" name="last-name" autocomplete="off" spellcheck="false" type="text">
                </li>
                <li>
                    <label for="tax-code">Tax code</label>
                    <input id="tax-code" name="tax-code" autocomplete="off" spellcheck="false" type="text">
                </li>
                <li>
                    <label for="email">Email</label>
                    <input id="email" name="email" autocomplete="off" spellcheck="false" type="email">
                </li>
                <li>
                    <label for="phone">Phone</label>
                    <input id="phone" name="phone" autocomplete="off" spellcheck="false" type="tel">
                </li>
            </ul>
            <input id="vat-code" name="vat-code" type="text" value="{{ vat_code }}" hidden>

            <input type="submit" name="Insert contact"/>
        </form>
    </div>
</body>
</html>